@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a new Imagineer</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)

  @Html.LabelFor(model => model.ActiveIdle)
  @Html.CheckBoxFor(model => model.ActiveIdle, false)

  @Html.LabelFor(model => model.LastLicensed)
  @Html.TextBoxFor(model => model.LastLicensed, new { type="date"})

  @Html.Label("Select a Thing-a-Machine that this Imagineer is licenced to build/repair")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add this Imagineer" />
}

<p>@Html.ActionLink("Back to Imagineer departement", "Index")</p>