@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Here are @Html.DisplayFor(model => model.EngineerName)'s details</h1>
<hr/>
<h4>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h4><br>
<h4>@Html.DisplayNameFor(model => model.ActiveIdle): @Html.DisplayFor(model => model.ActiveIdle)</h4><br>
<h4>@Html.DisplayNameFor(model => model.LastLicensed): @Html.DisplayFor(model => model.LastLicensed)</h4>

@if(@Model.Machines.Count == 0)
{
  <p>This Imagineer has not been a Thing-a-Machine specialty yet</p>
}
else
{
  <h4>Thing-a-Machines that this Imagineer is licenced to build/repair:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<p>@Html.ActionLink("Add specialty", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Imagineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Imagineer departement", "Index")</p>